<% content_for :top_content do %>

      <div align="center"><%= image_tag "4.png", class: "logo" %></div>

      <div align="center"><%= image_tag "4play.png", class: "play" %></div>
      
<% end %>
