<div class="col col s12 m6 l4">
<br><br><br>
<div class="container">
  <div class="row">
    <div class="col-xs-5"> <%= image_tag artist.picture, class: "group"%> </div>
     <div class="col-xs-3"> <%= link_to artist.name, artist, class: "title" %> </div>
       <div class="col-xs-3"> <%= artist.plot %> </div>

   </div>
  </div>
</div>
