<div class="col col s12 m6 l4">

<br><br>
  <h1><%= link_to artist.name, artist, class: "title" %></h1>
    <p><%= image_tag artist.picture, class: "group"%></p>
    <p><%= artist.plot %></p>


</div>
