<div class="col col s12 m6 l4">
  <article class="card-panel hoverable">
    <p><%= artist.image %></p>
      <h1><%= link_to artist.model, artist %></h1>
    <p><%= artist.description %></p>

  </article>
</div>
