<div class="col col s12 m6 l4">
  <article class="card-panel hoverable">
    <p><%= song.image %></p>
      <h1><%= link_to song.model, song %></h1>
    <p><%= song.description %></p>

  </article>
</div>
